* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 5rem;
  text-align: center;
  padding: 5rem;
  transition: 0.5s linear;
}

body.dark {
  background-color: black;
  color: white;
}

.container {
  top: 10px;
  right: 10px;
  position: fixed;
}

/* user-select -> Impedir a seleção de texto de um elemento <div> */
label:before {
  content: "🌙";
  display: inline-block;
  border-radius: 60%;
  cursor: pointer;
  user-select: none;
  transition: 0.5s linear;
}

body.dark label:before {
  content: "☀️"
}

input {
  visibility: hidden;
}
